@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: #F0F7F4;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.custom-shape-divider-bottom-1699628923 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1699628923 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 400px;
}

.custom-shape-divider-bottom-1699628923 .shape-fill {
    fill: #FFFFFF;
}